@import "varibles.scss";
* {
	box-sizing: border-box;
}
img {
	height: auto;
	max-width: 100%;
}
a {
	text-decoration: none;
}
//

.wraper {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	.content-wraper {
		width: 100%;
	}
}
